@import url('https://fonts.googleapis.com/css2?family=Ramaraja&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ramaraja', serif;
}
body {
  background: url('images/light.jpg') no-repeat center center;
  background-size: cover;
  font-size: 10px;
}
kbd {
  display: block;
  font-size: 4rem;
  text-shadow: 3px 3px 3px black;
}
.keys {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
}
.key {
  align-self: center;
  border: 0.4rem solid black;
  border-radius: 0.5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem 0.5rem;
  transition: all 0.07s ease;
  width: 10rem;
  text-align: center;
  color: white;
  background: rgba(0, 0, 0, 0.4);
}
.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: #ffc600;
  text-shadow: 2px 2px 2px black;
}
.playing {
  transform: scale(1.1);
  border: 0.4rem solid #ffc600;
  box-shadow: 0 0 1rem #ffc600;
}
